<!DOCTYPE html>
<html lang="en">
<head>
    
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/frame.css' %}">
    <link rel="stylesheet" href="{% static 'style/config.css' %}">
    <meta charset="UTF-8">
    <title>Bosch</title>
</head>

<body>
    <div class="container">
        <div class = "upper container-half">
            <div class = "window">
                <div id="camera" class="frame">
                    CAMERA
                </div>
                <div class="frame">
                    ANALYSIS
                </div>
            </div>
            <div class = "config window">
                <div class="menu">
                    <div id="lanes" class="menu-button">LANES</div>
                    <div id="SIGNS" class="menu-button">SIGNS</div>
                    <div id="alo" class="menu-button">ALO</div>
                    <div id="a" class="menu-button">ALO</div>
                    <div id="b" class="menu-button">ALO</div>
                    <div id="c" class="menu-button">ALO</div>
                </div>
                <div class = "parameters">
                        <div>
                            <input id="maxVal" class="slider" type="range" min="0" max="500" value={{maxVal}}>
                            <label for="maxVal">Threshold High</label>
                            <span id="maxVal-value">{{maxVal}}</span>
                        </div> 
                        <div>
                            <input id="minVal" class="slider" type="range" min="0" max="500" value={{minval}}>
                            <label for="minVal">Threshold Low</label>
                            <span id="minVal-value">{{minVal}}</span>
                        </div>
                        <div>
                            <input id="pos1" class="slider" type="range" min=0 max=500 value={{pos1}}>
                            <label for="pos1">Position 1</label>
                            <span id="pos1-value">{{pos1}}</span>
                        </div>
                        <div>
                            <input id="pos2" class="slider" type="range" min=0 max=500 value={{pos2}}>
                            <label for="pos2">Position 2</label>
                            <span id="pos2-value">{{pos2}}</span>
                        </div>
                        <div>
                            <input id="pos3" class="slider" type="range" min=0 max=500 value={{pos3}}>
                            <label for="pos3">Position 3</label>
                            <span id="pos3-value">{{pos3}}</span>
                        </div>
                </div>

            </div>
        </div>
        <div class = "lower container-half">
            <div class = "window">
                DIRECTION SIMULATION
            </div>
            <div class = "window">
                OTHERS
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="UTF-8" src="{% static 'src/config-menu.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static 'src/sliders.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static 'src/camera.js' %}"></script>
    <script>
            
    </script>
</body>
</html>